{% if is_paginated %}
    {% include 'partial/pagination.html' %}
{% endif %}

<div class="row row-cols-3">

    {% for article in articles %}
        <div class="col">
            <div class="card my-3">
                <div class="card-body">
                    <h5 class="card-title">{{ article.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">{{ article.author }}</h6>
                    <p class="card-text">{{ article.content }}</p>
                    <p class="card-text">Tags: {% for tag in article.tags.all %}
                        {{ tag.name }}{% if forloop.last %}.{% else %}, {% endif %}
                    {% endfor %}
                    </p>
                    <a href="{{ article.get_absolute_url }}" class="card-link">Подробнее...</a>
                    {% if perms.webapp.change_article or article.author == request.user %}
                        <a href="{% url 'webapp:article_update_view' pk=article.pk %}"
                           class="card-link">Редактировать</a>
                    {% endif %}

                    {% if perms.webapp.delete_article or article.author == request.user %}
                        <a href="{% url 'webapp:article_delete_view' pk=article.pk %}" class="card-link">Удалить</a>
                    {% endif %}
                    <div class="mt-2">
                        {% if request.user.is_authenticated %}
                            <a class="article_like" style="color: red; text-decoration: none"
                               data-span-count-id="count_article_likes_{{ article.pk }}"
                               href="{% url 'webapp:like_article' article.pk %}">
                                {% if request.user in article.likes.all %}
                                    <i class="bi bi-heart-fill fs-3"></i>
                                {% else %}
                                    <i class="bi bi-heart fs-3"></i>
                                {% endif %}
                            </a>
                        {% endif %}
                        <span class="ms-2"><b>Понравилось:</b> <span
                                id="count_article_likes_{{ article.pk }}">{{ article.likes.count }}</span></span>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <p>Нет статей</p>

    {% endfor %}
</div>

<script>
    async function makeRequest(url, method = 'GET') {
        let response = await fetch(url, {method});

        if (response.ok) {
            return await response.json();
        } else {
            let error = new Error(response.statusText);
            error.response = response;
            throw error;
        }
    }

    async function onClick(e) {
        e.preventDefault()
        let a = e.target;
        let url = a.href;
        let response = await makeRequest(url);

        if (a.className === 'bi bi-heart') {
            a.className = 'bi bi-heart-fill';
        } else {
            a.className = 'bi bi-heart';
        }
        let span = document.getElementById(a.dataset['spanCountId']);
        span.innerText = response.count;
    }

    function onLoad() {
        let likes = document.getElementsByClassName('article_like');
        for (let like of likes) {
            like.addEventListener('click', onClick);
        }
    }

    window.addEventListener('load', onLoad);
</script>
