{% extends 'base.html' %}

{% block title %}{{ article.title }}{% endblock %}
{% block menu %}
    <a class="nav-link" aria-current="page" href="{% url 'webapp:index' %}">На главную</a>
    {% if perms.webapp.change_article or article.author == request.user %}
        <a class="nav-link" aria-current="page" href="{% url 'webapp:article_update_view' pk=article.pk %}">Редактировать</a>
    {% endif %}
    {% if perms.webapp.delete_article or article.author == request.user %}
        <a class="nav-link" aria-current="page" href="{% url 'webapp:article_delete_view' pk=article.pk %}">Удалить</a>
    {% endif %}

    {% if request.user.is_authenticated %}
        <a class="nav-link" aria-current="page" href="{% url 'webapp:comment_add' pk=article.pk %}">Добавить
            комментарий</a>
    {% endif %}
{% endblock %}

{% block content %}
    <h1>Article</h1>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ article.title }}</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">{{ article.author }}</h6>
            <p class="card-text">{{ article.content }}</p>
            <p class="card-text">Tags: {% for tag in article.tags.all %}
                {{ tag.name }}{% if forloop.last %}.{% else %}, {% endif %}
            {% endfor %}
            </p>
            <p>{{ article.created_at }}</p>

            <div class="mt-2">
                {% if request.user.is_authenticated %}
                    <button class="like-button" data-article-id="{{ article.id }}"
                            data-liked="{% if user in article.likes.all %}true{% else %}false{% endif %}">
                        {% if user in article.likes.all %}Unlike{% else %}Like{% endif %}
                    </button>
                {% endif %}
                <span class="like-count"><b>Понравилось:</b> {{ article.likes.count }}</span>
            </div>
        </div>
    </div>
    <h3 class="mt-2">Comments: </h3>
    <div class="row row-cols-3 mt-2">
        {% for comment in comments %}

            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Автор: {{ comment.author }}</h5>
                        <p class="card-text">{{ comment.text }}</p>
                        <p>{{ article.created_at }}</p>

                        <div class="mt-2">
                            {% if request.user.is_authenticated %}
                                <button class="like-comment-button" data-comment-id="{{ comment.id }}"
                                        data-liked="{% if user in comment.likes.all %}true{% else %}false{% endif %}">
                                    {% if user in comment.likes.all %}Unlike{% else %}Like{% endif %}
                                </button>
                            {% endif %}
                            <span class="like-comment-count-{{ comment.id }}"><b>Понравилось:</b> {{ comment.likes.count }}</span>
                        </div>

                        {% if perms.webapp.change_comment or comment.author == request.user %}
                            <a href="{% url 'webapp:comment_update_view' pk=comment.pk %}"
                               class="card-link">Редактировать</a>
                        {% endif %}
                        {% if perms.webapp.delete_comment or comment.author == request.user %}
                            <a href="{% url 'webapp:comment_delete_view' pk=comment.pk %}" class="card-link">Удалить</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        let likeButtons = document.querySelectorAll(".like-button");

        likeButtons.forEach(function (button) {
            button.addEventListener("click", function () {
                handleLikeButtonClick(button);
            });
        });
    });

    function handleLikeButtonClick(button) {
        let articleId = button.getAttribute("data-article-id");
        let csrftoken = getCookie('csrftoken');
        let method = button.getAttribute("data-liked") === 'true' ? 'DELETE' : 'POST';

        fetch(`/like-article/${articleId}/`, {
            method: method,
            headers: {
                "Content-Type": "application/json",
                "X-Requested-With": "XMLHttpRequest",
                "X-CSRFToken": csrftoken,
            },
        })
            .then(response => response.json())
            .then(data => updateLikeButton(button, data))
            .catch(error => console.error("Error:", error));
    }

    function updateLikeButton(button, data) {
        button.textContent = data.liked ? "Unlike" : "Like";
        button.setAttribute("data-liked", data.liked);
        document.querySelector(".like-count").textContent = data.like_count;
    }

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.startsWith(name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        let likeButtons = document.querySelectorAll(".like-comment-button");

        likeButtons.forEach(function (button) {
            button.addEventListener("click", function () {
                handleLikeCommentButtonClick(button);
            });
        });
    });

    function handleLikeCommentButtonClick(button) {
        let commentId = button.getAttribute("data-comment-id");
        let csrftoken = getCookie('csrftoken');
        let method = button.getAttribute("data-liked") === 'true' ? 'DELETE' : 'POST';

        fetch(`/like-comment/${commentId}/`, {
            method: method,
            headers: {
                "Content-Type": "application/json",
                "X-Requested-With": "XMLHttpRequest",
                "X-CSRFToken": csrftoken,
            },
        })
            .then(response => response.json())
            .then(data => updateLikeCommentButton(button, data))
            .catch(error => console.error("Error:", error));
    }

    function updateLikeCommentButton(button, data) {
        button.textContent = data.liked ? "Unlike" : "Like";
        button.setAttribute("data-liked", data.liked);
        document.querySelector(".like-comment-count-" + data.comment_id).textContent = data.like_count;
    }
</script>
